<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>House-Manager</title>
    <link th:href="@{/css/people.css}" rel="stylesheet"/>
    <link th:href="@{/css/mainPage.css}" rel="stylesheet"/>
</head>
<body>
<a href="http://localhost:8080">Home</a>
<table id="table" class="table table-dark">
    <thead>
    <tr>
        <th scope="col">date</th>
        <th scope="col">month</th>
        <th scope="col">firstNumber</th>
        <th scope="col">secondNumber</th>
        <th scope="col">sum</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr th:each="bill: ${getAllBills}">-->
    <tr th:each="bill: ${getAllBills}">
        <td th:text="${bill.date}"/>
        <td th:text="${bill.month}"/>
        <td th:text="${bill.firstNumber}"/>
        <td th:text="${bill.secondNumber}"/>
        <td th:text="${bill.sum}"/>
    </tr>
    </tbody>
</table>

<!--<script src="../main.js"></script>-->
</body>
</html>