<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>House-Manager</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></div>

<div class="container">
    <h2 class="text-center text-danger" th:text="#{nav_bar_add_bill}">Add bill for building</h2>
    <form th:method="post"
          th:action="@{/bill/addBill}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="city" class="text-white font-weight-bold"></label>
            <input id="city"
                   name="city"
                   type="text"
                   class="form-control"
                   placeholder="City"/>
        </div>
        <div class="form-group">
            <label for="street" class="text-white font-weight-bold"></label>
            <input id="street"
                   name="street"
                   type="text"
                   class="form-control"
                   placeholder="Street"/>
        </div>
        <div class="form-group">
            <label for="number" class="text-white font-weight-bold"></label>
            <input id="number"
                   name="number"
                   type="text"
                   class="form-control"
                   placeholder="Number"/>
        </div>
        <div class="form-group">
            <label for="date" class="text-white font-weight-bold"></label>
            <input id="date"
                   name="date"
                   type="text"
                   class="form-control"
                   placeholder="Date"/>
        </div>
        <div class="form-group">
            <label for="noteNumber" class="text-white font-weight-bold"></label>
            <input id="noteNumber"
                   name="noteNumber"
                   type="text"
                   class="form-control"
                   placeholder="noteNumber"/>
        </div>
        <div class="form-group">
            <label for="month" class="text-white font-weight-bold"></label>
            <input id="month"
                   name="month"
                   type="text"
                   class="form-control"
                   placeholder="Month"/>
        </div>
        <div class="form-group">
            <label for="sum" class="text-white font-weight-bold"></label>
            <input id="sum"
                   name="sum"
                   type="number"
                   step=".01"
                   class="form-control"
                   placeholder="sum"/>
        </div>
        <div class="form-group">
        <form>
            <label for="type" class="text-white font-weight-bold">Type
                <select id="type" name="type">
                    <option value="ELECTRICITY">ELECTRICITY</option>
                    <option value="WATER">WATER</option>
                    <option value="HEATING">HEATING</option>
                    <option value="GAS">GAS</option>
                    <option value="INTERNET">INTERNET</option>
                    <option value="TV">TV</option>
                    <option value="OTHER">OTHER</option>
                </select>
            </label>
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <input type="submit" class="btn btn-info btn-lg" value="Add Bill for Building"/>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </form>
</div>

<div>
    <footer> </footer>
</div>
</body>
</html>
