<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <h1 class="mt-5" id="city-name">Weather Forecast</h1>
    <table class="table table-striped mt-3" id="weather-table">
        <h3 th:text="|Current Weather: (${currentForecast.getId()}) ${currentBuilding.getStreet()} ${currentBuilding.getNumber()}|"
            class="text-white  mb-0 mt-2 ui-front">CurrentBuilding</h3>
        <h3>
        <thead>
        <tr>
            <th>Day</th>
            <th>Condition</th>
            <th>Min Temperature (°C)</th>
            <th>Max Temperature (°C)</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>
