<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House-Manager</title>
    <link th:href="@{/css/mainPage.css}" rel="stylesheet"/>
</head>
<body>
        <nav class="navbar">
        <ul>
            <li><a href="http://localhost:8080">Home</a></li>
            <li><a href="http://localhost:8080/people">Peoples</a></li>
            <li><a href="http://localhost:8080/bills">Bills</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
        </nav>
</body>
</html>