<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House-Manager</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'login'})}"></div>

<div class="col-5 my-buildings">
    <div class="bg-dark rounded m-auto tab-content" style="height: 67vh; overflow: auto">
        <h3 th:text="|My Buildings (${myBuildings.size()})|"
            class="text-white  mb-0 mt-2 ui-front">My Buildings ({count})</h3>
        <table class="table-bordered table-hover table-dark">
            <tr>
                <td>City</td>
                <td>Street</td>
                <td>Number</td>
            </tr>
        <ul th:each="building : ${myBuildings}"
            th:object="${myBuildings}">
            <li>
                    <tr>
                        <td th:text="${building.getCity()}"
                            style="width: 15%">{city}
                        </td>
                        <td th:text="${building.getStreet()}"
                            style="width: 40%">{street}
                        </td>
                        <td th:text="${building.getNumber()}">{number}</td>
                        <td>
                            <button class="btn-dark bg-warning" onclick="window.open(this.getAttribute('data-url'))"
                                    th:data-url="@{http://localhost:8080/building/{id}(id=${building.getId()})}">
                                VIEW this building
                            </button>
                        </td>
                    </tr>
            </li>
        </ul>
        </table>
    </div>
</div>

</body>
</html>